<tg-html-editor
  *ngIf="mode === 'html'"
  [content]="contentHtml"
  [lan]="lan"
  [placeholder]="placeholder"
  [feedUsers]="feedUsers.bind(this)"
  [feedReferences]="feedReferences.bind(this)"
  [uploadFunction]="uploadFunction"
  (changed)="changed.emit($event)"
  (focusChanged)="focusChanged.emit($event)">
</tg-html-editor>
<tg-markdown-editor
  *ngIf="mode === 'markdown'"
  [content]="contentMarkdown"
  (changed)="changed.emit($event)"
  (focusChanged)="focusChanged.emit($event)">
</tg-markdown-editor>

<button
  *ngIf="mode === 'html'"
  (click)="toMarkdown()">Markdown</button>

<button
  *ngIf="mode === 'markdown'"
  (click)="toHtml()">Html</button>
